@import './navigation.css';
@import './miniSlider.css';
@import './videoBox.css';
@import './footer.css';
@import './components/moveButton.css';

html, body {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    max-width: 1600px;
    margin: 0px auto;
    padding: 40px;
}

.hidde {
    display: none!important;
}

.show {
    display: block!important;
}