@import './navigation.css';
@import './miniSlider.css';
@import './videoBox.css';
@import './footer.css';
@import './slider.css';
@import './contactUs.css';
@import './components/moveButton.css';

html, body {
    padding: 0px;
    margin: 0px;
    color: #352828;
}

.wrapper {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.hidde {
    display: none!important;
}

.show {
    display: block!important;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 15px;
    }
}