.mini-slider {
    margin-top: 133px;
}

.mini-slider__logo-wrapper{
    display: flex;
    justify-content: space-between;
}

.mini-slider__logo-p {
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

.mini-slider__slider-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.38fr 1fr;
    gap: 20px;
    margin-top: 35px;
}

.miniSlider__slide {
    width: 100%;
}

.mini-slider__about-us {
    margin-top: 29px;
    max-width: 442px;
}

.mini-slider__about-us-p {
    margin: 0px;
    font-size: 16px;
}

@media (max-width: 900px) {
    .mini-slider__logo {
        aspect-ratio: auto;
        width: 200px;
        height: auto;
    }

    .mini-slider__logo-wrapper {
        flex-wrap: wrap;
        gap: 20px;
    }

    .mini-slider__logo-p {
        padding-bottom: 0px;
    }
}